
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .img-max {
        max-width: 500px;
        width:100%;
      }
      </style>
    <title>Beautify NY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<%= render 'layouts/navigation' %>

  </head>
  <!-- container-->
  <div class="container-fluid text-center bg-light">

    <div class="row py-3 justify-content-center">
      <!-- intro -->
       <div class="col-md-8">
    <hr class="my-4">
    <h1 class="font-weight-bold text-center text-info">
  THE NYS PARKS
  </h1>
  <hr class="my-4">
  <h6>This year, we will be planting pollinator gardens in <b>Bear Mountain State Park</b>,
    <b>Hudson River Park</b>, <b>Montauk Point State Park</b> and <b>Niagara Falls State Park</b>. You can learn more about these
  parks at their official sites (linked below). If you'd like to join us at one of these sites
  and help us out, fill out a <%= link_to 'volunteer form!', new_volunteer_path %></h6>
  </div>
  </div><!-- /intro -->

    <!-- images -->
  <p>  <div class="row mt-4">
    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="img-max">
  <img src="/bearmountain.PNG" class="card-img-top" alt="Bear Mountain State Park">
  </div>
  <div class="card-body">
    <h6 class="card-title text-muted font-italic">Hudson Valley Region
      <br>Bear Mountain, NY</h6>
    <p class="card-text">Bear Mountain State Park is situated in rugged mountains rising from the
       west bank of the Hudson River. The park features a large play field, shaded picnic groves,
       lake and river fishing access, a swimming pool, Trailside Museums and Zoo, hiking, biking
        and cross-country ski trails. The Perkins Memorial Tower atop Bear Mountain affords
        spectacular views of the park, the Hudson Highlands and Harriman State Park.</p>
    </div>
    <div class="card-body">
    <a href="https://parks.ny.gov/parks/bearmountain/details.aspx" target="blank" class="card-link">Learn More</a>
<!-- collapsible  -->
    <div class="pt-3"><p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#bearmountain" aria-expanded="false" aria-controls="collapseExample">
Volunteer List
</button>
</p>
<div class="collapse" id="bearmountain">
<div class="card card-body">
<!-- table -->
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col"><center>Bear Mountain Volunteers</center></th>
              </tr>
            </thead>

            <tbody>
              <% @vol_bearmountain.each do |volunteer| %>
                <tr>
                  <td scope="row"><center><%= volunteer.first_name %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>

<!-- /table -->

</div>
</div>
</div>
<!-- /collapsible  -->
    </div>
  </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card mb-3">
      <div class="img-max">
<img src="/hudsonriver.PNG" class="card-img-top" alt="Hudson River Park">
</div>
<div class="card-body">
  <h6 class="card-title text-muted font-italic">NYC Region
    <br>New York, NY</h6>
  <p class="card-text">Hudson River Park is a 550-acre riverside park and estuarine sanctuary
    located on the west side of Manhattan between Battery Place and W.59th Street.
  The park offers a tremendous variety of exciting and unique activities throughout its 500-acre footprint.
  You’ll find things to do here that you can’t do anyplace else in Manhattan. Features include a carousel,
dog parks, kayacking, golf, public lawns and much more..all with a stunning view of the NYC skyline. </p>
  </div>
  <div class="card-body">
  <a href="https://hudsonriverpark.org/" target="blank" class="card-link">Learn More</a>
  <div class="pt-3"><p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#hudson" aria-expanded="false" aria-controls="collapseExample">
  Volunteer List
  </button>
  </p>
  <div class="collapse" id="hudson">
  <div class="card card-body">
  <!-- table -->
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col"><center>Hudson Park Volunteers</center></th>
        </tr>
      </thead>

      <tbody>
        <% @vol_hudson.each do |volunteer| %>
          <tr>
            <td scope="row"><center><%= volunteer.first_name %></center></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <!-- /table -->
  </div>
  </div>
  </div>
  <!-- /collapsible -->
  </div>
  </div>
  </div>

<div class="col-md-6 col-lg-3">
  <div class="card mb-3">
    <div class="img-max">
<img src="/montauk.PNG" class="card-img-top" alt="Montauk Point State Park">
</div>
<div class="card-body">
  <h6 class="card-title text-muted font-italic">Long Island Region
    <br>Montauk, NY</h6>
<p class="card-text">On the eastern tip of the South Shore of Long Island, Montauk Point State Park, offers stunning
  views of the Atlantic Ocean where it meets the Block Island Sound. The view is unique, because, when the water
  is calm, visitors can clearly see the "race" of converging tides from the Atlantic and Block Island Sound.
  Visitors can also use the nature trails to hike or cross-country ski, or spend time watching the seals sun on
  the rocks offshore. Block Island can be seen off in the distance.</p>
</div>
<div class="card-body">
<a href="https://parks.ny.gov/parks/montaukpoint/details.aspx" target="blank" class="card-link">Learn More</a>
<!-- collapsible  -->
    <div class="pt-3"><p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#montauk" aria-expanded="false" aria-controls="collapseExample">
Volunteer List
</button>
</p>
<div class="collapse" id="montauk">
<div class="card card-body">
<!-- table -->
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col"><center>Montauk Point Volunteers</center></th>
              </tr>
            </thead>

            <tbody>
              <% @vol_montauk.each do |volunteer| %>
                <tr>
                  <td scope="row"><center><%= volunteer.first_name %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>

<!-- /table -->

</div>
</div>
</div>
<!-- /collapsible -->
</div>
</div>
</div>

    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="img-max">
    <img src="/niagarafalls.PNG" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h6 class="card-title text-muted font-italic">Western New York Region
        <br>Niagara Falls, NY</h6>
    <p class="card-text">Niagara Falls State Park is the oldest state park in the United State. The park is home
      to over 400 acres of lush landscape and wildlife, the beautiful falls themselves, and many attractions including interactive exhibits and miles of hiking trails.
      Niagara Falls State Park offers a breathtaking view of one of nature’s marvels and an experience that will last a lifetime.</p>
    </div>
    <div class="card-body">
    <a href="https://www.niagarafallsstatepark.com/" target="blank" class="card-link">Learn More</a>
    <!-- collaspsible -->
    <div class="pt-3"><p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#niagara" aria-expanded="false" aria-controls="collapseExample">
    Volunteer List
    </button>
    </p>
    <div class="collapse" id="niagara">
    <div class="card card-body">
    <!-- table -->
      <table class="table table-striped table-sm table-bordered">
        <thead>
          <tr class="table-info">
            <th scope="col"><center>Niagara Falls Volunteers</center></th>
          </tr>
        </thead>

        <tbody>
          <% @vol_niagara.each do |volunteer| %>
            <tr>
              <td scope="row"><center><%= volunteer.first_name %></center></td>
            </tr>
          <% end %>
        </tbody>
      </table>

<!-- /table -->

</div>
</div>
</div>
<!-- /collapsible -->
</div>
</div>
</div>
  <!-- /container-->
</div>
